.chart {
	margin: 2.0rem auto;
	width: 50%;
	height: 50.0rem;
	background: #eee;
	overflow: hidden; // to hide offset grid

	.grid {
		transform: translate(50%, 50%);
		width: 100%;
		height: 100%;
	}

	&.is-dragging {
		cursor: -webkit-grabbing;

		.slider {
			cursor: -webkit-grabbing;
		}
	}
}

.slider {
	border-radius: 100%;
	background: #20beef;
	width: 2.0rem;
	height: 2.0rem;
	transform: translate(-50%, -50%);
	cursor: -webkit-grab;
}

.angle-input {
	display: block;
	width: 50%;
	margin: 2.0rem auto;
}

.angle-output {
	text-align: center;
}

.guide-marker {
	width: 30%;
	height: 2px;
	transform: translate(0, 50%);

	transform-origin: 0;

	background: #ccc;
}