.delos-app {
	background: $color-ww-blue-dark;
}

.delos-nav {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: $nav-width;
	bottom: 0;

	padding: 5.0rem 4.0rem;

	.config {
		cursor: pointer;
		margin-top: 1.6rem;
		border-style: solid;
		border-width: 16px 32px 32px 16px;
		border-image: url(../img/punchcard-border.svg) 16 32 32 16 stretch;
		// border-image-outset: 16px 32px 32px 16px;
		// background: #ff0;
		height: 6.4rem;

		.id {
			text-transform: uppercase;
			color: $color-ww-blue-light;
			font-size: 1.4rem;
		}
		.name {
			color: #fff;
			opacity: 0.5;
			font-size: 1.2rem;
			margin-top: 0.4rem;
		}		
	}

}

.chart {
	position: fixed;
	z-index: 0;
	top: 0;
	left: $nav-width/2;
	right: 0;
	bottom: 0;
	overflow: hidden; // to hide offset grid

	.grid {
		transform: translate(50%, 50%);
		width: 100%;
		height: 100%;
	}

	&.is-dragging {
		cursor: -webkit-grabbing;

		.slider {
			cursor: -webkit-grabbing;
		}
	}
}

.slider {
	position: absolute;
	border-radius: 100%;
	background: $color-ww-blue-light;
	width: 2.0rem;
	height: 2.0rem;
	transform: translate(-50%, -50%);
	cursor: -webkit-grab;
	opacity: 0.6;

	&:after {
		position: absolute;
		top: -1.0rem;
		bottom: -1.0rem; 
		left: -1.0rem;
		right: -1.0rem; 
		content: "";
	}
}

.rendering {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.guides {
	@extend .rendering;
	// z-index: 100;
}

.star {
	@extend .rendering;
	// z-index: 200;
}

.attribute {
	position: absolute;
	text-transform: uppercase;
	font-size: 1.4rem;
	color: $color-ww-blue-light;

	.amount {
		color: #fff;
		opacity: 0.7;
	}
}