.delos-app {
	background: #333;
}

.chart {
	position: relative;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	overflow: hidden; // to hide offset grid

	.grid {
		transform: translate(50%, 50%);
		width: 100%;
		height: 100%;
	}

	&.is-dragging {
		cursor: -webkit-grabbing;

		.slider {
			cursor: -webkit-grabbing;
		}
	}
}

.slider {
	position: absolute;
	border-radius: 100%;
	background: #20beef;
	width: 2.0rem;
	height: 2.0rem;
	transform: translate(-50%, -50%);
	cursor: -webkit-grab;
	opacity: 0.6;

	&:after {
		position: absolute;
		top: -1.0rem;
		bottom: -1.0rem; 
		left: -1.0rem;
		right: -1.0rem; 
		content: "";
	}
}

.rendering {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.guides {
	@extend .rendering;
	// z-index: 100;
}

.star {
	@extend .rendering;
	// z-index: 200;
}