// Breakpoints
$vp-small-max: 		599px;
$vp-medium-min: 	600px;
$vp-large-min: 		900px;

// Font sizes
$font-small: 		1.2rem;
$font-medium:		1.6rem;
$font-large: 		2.0rem;

// Colors
$color-xlight:		#ccc;
$color-light:		#ccc;
$color-medium:		#ccc;
$color-dark:		#ccc;
$color-xdark:		#ccc;
$color-invert:		#fff;

// Motion
$speed-fast: 		500ms;
$speed-moderate:	1000ms;
$speed-slow:		2000ms;

// Other