// Tips:
//
// Keep HTML and CSS independent of each other:
// minimize style nesting that could too closely bind CSS to HTML.
// Beyond 3 levels is a sign of too high interdependency.
//
// For faster prototyping, use existing _layout.scss and _modules.scss and
// avoid introducing dedicated files.
//
// Use ".is-active" class for active module states.


// Setup
@import "variables";
@import "fonts";

// Base
@import "reset";
@import "base";

// Layout
// @import "bootstrap-grid";
@import "layout";

// Modules
@import "modules";